
#homepage {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


#app-name-section {
    text-align: center;
}

.logo-text {
    font-size: 3em;
    font-weight: 500;
}

#search-section {
    width: auto;
}

