.icon-rating-solid {
    fill: #ee4d2d;
    margin-right: .025rem;
    width: 13px;
    height: 13px;
}

.icon-rating {
    color: #ee4d2d;
    margin-right: .025rem;
    width: 13px;
    height: 13px;
    stroke: currentColor;
}