.search-bar {
    position: relative;
    width: 49.3%;
    margin: 0 auto;
}

.search-bar .search-example {
    display: block;
    float: left;
}

.search-example p {
    font-size: 0.875em;
}

#product-search {
    width: 100%;
    height: 41px;
    border: 1px solid #FFBE85;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
}